<template>
	<nav class="flex justify-between flex-wrap bg-white border-b border-gray-200 mb-2 p-3">
		<div class="flex">
			<svg class="fill-current h-6 w-6 mr-1" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg">
				<path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/>
			</svg>
			<span class="mr-2">Jdemekousat</span>
		</div>

		<div class="block lg:hidden">
			<button @click="open" class="flex items-center px-3 py-2 border rounded text-gray-400 border-gray-400 hover:text-gray-600 hover:border-gray-800">
				<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title>
					<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
				</svg>
			</button>
		</div>

		<div class="w-full block flex-grow lg:items-center lg:flex lg:w-auto" v-bind:class="{ hidden: showSubMenu}">
			<div class="text-sm lg:flex-grow">
				<a href="#" class="block lg:inline-block mt-4 lg:mt-0 px-1">Data browser</a>
				<a href="#" class="block lg:inline-block mt-4 lg:mt-0 px-1">Settings</a>
				<a href="#" class="block lg:inline-block mt-4 lg:mt-0 px-1">Logout</a>
			</div>
		</div>
	</nav>
</template>

<script>
	export default {
		data: function() {
			return {
				showSubMenu: true,
			}
		},
		methods: {
			open: function() {
				this.showSubMenu = !this.showSubMenu;
			}
		}
	}
</script>

<style scoped>

</style>
